/* Custom styles added to demo */

.twitter-tweet {
  margin: auto;
}

iframe {
  border-radius: var(--radius) !important;
}

.home-info ul {
  padding-inline-start: 20px;
}

.entry-cover img {
  border: 1px solid var(--border);
}

.chroma {
  background-color: unset;
}
